server:
  port: 8090
  tomcat:
    keep-alive-timeout: 300000 # 5 minutes to ensure keep alive is set to > the load balancer

management:
  endpoint:
    health:
      show-details: "always"
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, info, prometheus

spring:
  cloud:
    azure:
      active-directory:
        enabled: true
        profile:
          tenant-id: ${TENANT_ID}
        credential:
          client-id: ${CLIENT_ID}
          client-secret: ${CLIENT_SECRET}
        app-id-uri: ${APP_URI}
        authorization-clients:
          accountManagementApi:
            authorization-grant-type: client_credentials
            scopes:
              - ${ACCOUNT_MANAGEMENT_AZ_API}/.default
          publicationServicesApi:
            authorization-grant-type: client_credentials
            scopes:
              - ${PUBLICATION_SERVICES_AZ_API}/.default
  jackson:
    serialization.write_dates_as_timestamps: false
    mapper:
      accept_case_insensitive_enums: true
  config:
    import: "optional:configtree:/mnt/secrets/pip-ss-kv/"
  application:
    name: PIP Data Management
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASS}
    properties:
      charSet: UTF-8
    hikari:
      minimumIdle: 2
      maximumPoolSize: 10
      idleTimeout: 10000
      poolName: ConnectionPool
      maxLifetime: 7200000
      connectionTimeout: 30000
  jpa:
    properties:
      hibernate:
        format_sql: 'true'
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          lob:
            non_contextual_creation: 'true'
    database: POSTGRESQL
    hibernate:
      # Updated to 'none'. This is the default, and prevents auto updates in production
      ddl-auto: ${DB_UPDATE:none}
  servlet:
    multipart:
      max-file-size: 2MB
      max-request-size: 2MB
  # This is needed as locally, all tables are in a single schema. Flyway is only enabled on the clusters by default
  flyway:
    enabled: ${ENABLE_FLYWAY:false}

azure:
  blob:
    connection-string: ${CONNECTION_STRING}
    storage-account-name: ${STORAGE_ACCOUNT_NAME}
    storage-account-url: ${STORAGE_ACCOUNT_URL:}
    storage-account-key: ${STORAGE_ACCOUNT_KEY:}
    artefact-container-name: artefact
    publications-container-name: publications
  managed-identity:
    client-id: ${MANAGED_IDENTITY_CLIENT_ID:}

service-to-service:
  account-management: ${ACCOUNT_MANAGEMENT_URL:https://pip-account-management.staging.platform.hmcts.net}
  publication-services: ${PUBLICATION_SERVICES_URL:https://pip-publication-services.staging.platform.hmcts.net}
payload:
  json:
    max-size-search: ${JSON_SEARCH_MAX_INBOUND_SIZE:256}
    max-size-excel: ${EXCEL_MAX_INBOUND_SIZE:4096}
    max-size-pdf: ${PDF_MAX_INBOUND_SIZE:256}
    party-search-config:
      hearings-path: "$['courtLists'][*]['courtHouse']['courtRoom'][*]['session'][*]['sittings'][*]['hearing'][*]"
      cases-path: "$['case'][*]['caseNumber', 'caseName', 'caseUrn']"
      all-cases-path: "$['courtLists'][*]['courtHouse']['courtRoom'][*]['session'][*]['sittings'][*]['hearing'][*]['case'][*]"
      case-reference-path: "$['caseNumber', 'caseName', 'caseUrn']"
      parties-individual-details-path: "$['party'][?(@.partyRole != null && !(@.partyRole size 0) && @.partyRole != null && !(@.partyRole =~ /^.*representative.*$/i))]['individualDetails']"
      parties-org-name-path: "$['party'][?(@.partyRole != null && !(@.partyRole size 0) && !(@.partyRole =~ /^.*representative.*$/i))]['organisationDetails']['organisationName']"
    search-values:
      cases: "$['courtLists'][*]['courtHouse']['courtRoom'][*]['session'][*]['sittings'][*]['hearing'][*]['case'][*]['caseNumber', 'caseName', 'caseUrn']"

validations:
  master-schema: "schemas/master_schema.json"
  validation-schemas:
    CIVIL_DAILY_CAUSE_LIST: "schemas/civil_daily_cause_list.json"
    FAMILY_DAILY_CAUSE_LIST: "schemas/family_daily_cause_list.json"
    SJP_PUBLIC_LIST: "schemas/single_justice_procedure_public.json"
    SJP_DELTA_PUBLIC_LIST: "schemas/single_justice_procedure_public.json"
    SJP_PRESS_LIST: "schemas/single_justice_procedure_press.json"
    SJP_DELTA_PRESS_LIST: "schemas/single_justice_procedure_press.json"
    CIVIL_AND_FAMILY_DAILY_CAUSE_LIST: "schemas/civil_and_family_daily_cause_list.json"
    SSCS_DAILY_LIST: "schemas/sscs_daily_list.json"
    SSCS_DAILY_LIST_ADDITIONAL_HEARINGS: "schemas/sscs_daily_list.json"
    COP_DAILY_CAUSE_LIST: "schemas/cop_daily_cause_list.json"
    CROWN_DAILY_LIST: "schemas/crown_daily_list.json"
    CROWN_WARNED_LIST: "schemas/crown_warned_list.json"
    MAGISTRATES_PUBLIC_LIST: "schemas/magistrates_public_list.json"
    CROWN_FIRM_LIST: "schemas/crown_firm_list.json"
    MAGISTRATES_STANDARD_LIST: "schemas/magistrates_standard_list.json"
    ET_FORTNIGHTLY_PRESS_LIST: "schemas/et_fortnightly_press_list.json"
    ET_DAILY_LIST: "schemas/et_daily_list.json"
    IAC_DAILY_LIST: "schemas/iac_daily_list.json"
    IAC_DAILY_LIST_ADDITIONAL_CASES: "schemas/iac_daily_list.json"
    CST_WEEKLY_HEARING_LIST: "schemas/non-strategic/cst_weekly_hearing_list.json"
    PHT_WEEKLY_HEARING_LIST: "schemas/non-strategic/pht_weekly_hearing_list.json"
    GRC_WEEKLY_HEARING_LIST: "schemas/non-strategic/grc_weekly_hearing_list.json"
    WPAFCC_WEEKLY_HEARING_LIST: "schemas/non-strategic/wpafcc_weekly_hearing_list.json"
    UT_IAC_STATUTORY_APPEALS_DAILY_HEARING_LIST: "schemas/non-strategic/ut_iac_statutory_appeals_daily_hearing_list.json"
    UT_IAC_JR_LONDON_DAILY_HEARING_LIST: "schemas/non-strategic/ut_iac_judicial_reviews_london_daily_hearing_list.json"
    UT_IAC_JR_MANCHESTER_DAILY_HEARING_LIST: "schemas/non-strategic/ut_iac_judicial_reviews_daily_hearing_list.json"
    UT_IAC_JR_BIRMINGHAM_DAILY_HEARING_LIST: "schemas/non-strategic/ut_iac_judicial_reviews_daily_hearing_list.json"
    UT_IAC_JR_CARDIFF_DAILY_HEARING_LIST: "schemas/non-strategic/ut_iac_judicial_reviews_daily_hearing_list.json"
    UT_IAC_JR_LEEDS_DAILY_HEARING_LIST: "schemas/non-strategic/ut_iac_judicial_reviews_daily_hearing_list.json"
    SIAC_WEEKLY_HEARING_LIST: "schemas/non-strategic/siac_weekly_hearing_list.json"
    POAC_WEEKLY_HEARING_LIST: "schemas/non-strategic/siac_weekly_hearing_list.json"
    PAAC_WEEKLY_HEARING_LIST: "schemas/non-strategic/siac_weekly_hearing_list.json"
    FTT_TAX_WEEKLY_HEARING_LIST: "schemas/non-strategic/ftt-tax-chamber-tribunal-weekly-hearing-list.json"
    FTT_LR_WEEKLY_HEARING_LIST: "schemas/non-strategic/ftt-land-registry-tribunal-weekly-hearing-list.json"
    RPT_EASTERN_WEEKLY_HEARING_LIST: "schemas/non-strategic/ftt-residential-property-tribunal-weekly-hearing-list.json"
    RPT_LONDON_WEEKLY_HEARING_LIST: "schemas/non-strategic/ftt-residential-property-tribunal-weekly-hearing-list.json"
    RPT_MIDLANDS_WEEKLY_HEARING_LIST: "schemas/non-strategic/ftt-residential-property-tribunal-weekly-hearing-list.json"
    RPT_NORTHERN_WEEKLY_HEARING_LIST: "schemas/non-strategic/ftt-residential-property-tribunal-weekly-hearing-list.json"
    RPT_SOUTHERN_WEEKLY_HEARING_LIST: "schemas/non-strategic/ftt-residential-property-tribunal-weekly-hearing-list.json"
    UT_T_AND_CC_DAILY_HEARING_LIST: "schemas/non-strategic/ut_tax_and_chancery_chamber_daily_hearing_list.json"
    UT_LC_DAILY_HEARING_LIST: "schemas/non-strategic/ut_lands_chamber_daily_hearing_list.json"
    UT_AAC_DAILY_HEARING_LIST: "schemas/non-strategic/ut_administrative_appeals_chamber_daily_hearing_list.json"
    AST_DAILY_HEARING_LIST: "schemas/non-strategic/ast_daily_hearing_list.json"
    SSCS_MIDLANDS_DAILY_HEARING_LIST: "schemas/non-strategic/sscs_daily_hearing_list.json"
    SSCS_SOUTH_EAST_DAILY_HEARING_LIST: "schemas/non-strategic/sscs_daily_hearing_list.json"
    SSCS_WALES_AND_SOUTH_WEST_DAILY_HEARING_LIST: "schemas/non-strategic/sscs_daily_hearing_list.json"
    SSCS_SCOTLAND_DAILY_HEARING_LIST: "schemas/non-strategic/sscs_daily_hearing_list.json"
    SSCS_NORTH_EAST_DAILY_HEARING_LIST: "schemas/non-strategic/sscs_daily_hearing_list.json"
    SSCS_NORTH_WEST_DAILY_HEARING_LIST: "schemas/non-strategic/sscs_daily_hearing_list.json"
    SSCS_LONDON_DAILY_HEARING_LIST: "schemas/non-strategic/sscs_daily_hearing_list.json"
    LONDON_ADMINISTRATIVE_COURT_DAILY_CAUSE_LIST: "schemas/non-strategic/london_administrative_court_daily_cause_list.json"
    PLANNING_COURT_DAILY_CAUSE_LIST: "schemas/non-strategic/planning_court_daily_cause_list.json"
    COUNTY_COURT_LONDON_CIVIL_DAILY_CAUSE_LIST: "schemas/non-strategic/county_court_london_civil_daily_cause_list.json"
    CIVIL_COURTS_RCJ_DAILY_CAUSE_LIST: "schemas/non-strategic/civil_courts_rcj_daily_cause_list.json"
    COURT_OF_APPEAL_CRIMINAL_DAILY_CAUSE_LIST: "schemas/non-strategic/court_of_appeal_criminal_daily_cause_list.json"
    FAMILY_DIVISION_HIGH_COURT_DAILY_CAUSE_LIST: "schemas/non-strategic/family_division_high_court_daily_cause_list.json"
    KINGS_BENCH_DIVISION_DAILY_CAUSE_LIST: "schemas/non-strategic/kings_bench_division_daily_cause_list.json"
    KINGS_BENCH_MASTERS_DAILY_CAUSE_LIST: "schemas/non-strategic/kings_bench_masters_daily_cause_list.json"
    SENIOR_COURTS_COSTS_OFFICE_DAILY_CAUSE_LIST: "schemas/non-strategic/senior_courts_costs_office_daily_cause_list.json"
    MAYOR_AND_CITY_CIVIL_DAILY_CAUSE_LIST: "schemas/non-strategic/mayor_and_city_civil_daily_cause_list.json"
    INTERIM_APPLICATIONS_CHD_DAILY_CAUSE_LIST: "schemas/non-strategic/interim_applications_chancery_division_daily_cause_list.json"
    COURT_OF_APPEAL_CIVIL_DAILY_CAUSE_LIST: "schemas/non-strategic/court_of_appeal_civil_daily_cause_list.json"
    INTELLECTUAL_PROPERTY_AND_ENTERPRISE_COURT_DAILY_CAUSE_LIST: "schemas/non-strategic/intellectual_property_and_enterprise_court_daily_cause_list.json"
    INTELLECTUAL_PROPERTY_LIST_CHD_DAILY_CAUSE_LIST: "schemas/non-strategic/intellectual_property_list_chd_daily_cause_list.json"
    LONDON_CIRCUIT_COMMERCIAL_COURT_KB_DAILY_CAUSE_LIST: "schemas/non-strategic/london_circuit_commercial_court_kb_daily_cause_list.json"
    PATENTS_COURT_CHD_DAILY_CAUSE_LIST: "schemas/non-strategic/patents_court_chd_daily_cause_list.json"
    PENSIONS_LIST_CHD_DAILY_CAUSE_LIST: "schemas/non-strategic/pensions_list_chd_daily_cause_list.json"
    PROPERTY_TRUSTS_PROBATE_LIST_CHD_DAILY_CAUSE_LIST: "schemas/non-strategic/property_trusts_probate_list_chd_daily_cause_list.json"
    REVENUE_LIST_CHD_DAILY_CAUSE_LIST: "schemas/non-strategic/revenue_list_chd_daily_cause_list.json"
    TECHNOLOGY_AND_CONSTRUCTION_COURT_KB_DAILY_CAUSE_LIST: "schemas/non-strategic/technology_and_construction_court_kb_daily_cause_list.json"
    ADMIRALTY_COURT_KB_DAILY_CAUSE_LIST: "schemas/non-strategic/admiralty_court_kb_daily_cause_list.json"
    BUSINESS_LIST_CHD_DAILY_CAUSE_LIST: "schemas/non-strategic/business_list_chd_daily_cause_list.json"
    CHANCERY_APPEALS_CHD_DAILY_CAUSE_LIST: "schemas/non-strategic/chancery_appeals_chd_daily_cause_list.json"
    COMMERCIAL_COURT_KB_DAILY_CAUSE_LIST: "schemas/non-strategic/commercial_court_kb_daily_cause_list.json"
    COMPANIES_WINDING_UP_CHD_DAILY_CAUSE_LIST: "schemas/non-strategic/companies_winding_up_chd_daily_cause_list.json"
    COMPETITION_LIST_CHD_DAILY_CAUSE_LIST: "schemas/non-strategic/competition_list_chd_daily_cause_list.json"
    FINANCIAL_LIST_CHD_KB_DAILY_CAUSE_LIST: "schemas/non-strategic/financial_list_chd_kb_daily_cause_list.json"
    INSOLVENCY_AND_COMPANIES_COURT_CHD_DAILY_CAUSE_LIST: "schemas/non-strategic/insolvency_and_companies_court_chd_daily_cause_list.json"
    BIRMINGHAM_ADMINISTRATIVE_COURT_DAILY_CAUSE_LIST: "schemas/non-strategic/administrative_court_daily_cause_list.json"
    BRISTOL_AND_CARDIFF_ADMINISTRATIVE_COURT_DAILY_CAUSE_LIST: "schemas/non-strategic/administrative_court_daily_cause_list.json"
    MANCHESTER_ADMINISTRATIVE_COURT_DAILY_CAUSE_LIST: "schemas/non-strategic/administrative_court_daily_cause_list.json"
    LEEDS_ADMINISTRATIVE_COURT_DAILY_CAUSE_LIST: "schemas/non-strategic/administrative_court_daily_cause_list.json"
    SEND_DAILY_HEARING_LIST: "schemas/non-strategic/send_daily_hearing_list.json"
springdoc:
  swagger-ui:
    path: /swagger-ui/

# Used for flyway to run DB migration on startup
dbMigration:
  runOnStartup: ${RUN_DB_MIGRATION_ON_STARTUP:true}

pdf:
  font: /opt/app/openSans.ttf

logging:
  level:
    com.openhtmltopdf.match: WARN
    com.openhtmltopdf.load: WARN

# Used to conditionally enable testing support API
testingSupport:
  enableApi: ${ENABLE_TESTING_SUPPORT_API:true}


