<!DOCTYPE html>
<html lang="en">
<head>
  <style th:replace="~{css/template-styles :: page-govuk-classes}"></style>
  <style th:replace="~{css/template-styles :: body-classes}"></style>
  <style th:replace="~{css/template-styles :: margin-padding-classes}"></style>
  <meta charset="UTF-8"/>
  <meta name="subject" content="Accessible PDF template"/>
  <meta name="author" content="HMCTS Court and Tribunal Hearings"/>
  <meta name="description" content="Document description - vital for compliance."/>
  <title th:text="${i18n.listName}" />
</head>
<body>
<div>
  <h2 id="page-heading" class="govuk-heading-l" th:text="${i18n.listName}"/>
  <p class="govuk-body"> <a class="govuk-link" th:href="${i18n.factLink}" th:text="${i18n.factLinkText1}"></a><span th:text="${i18n.factLinkText2}"></span></p>
  <div>
    <p id="venue-name" class="govuk-body govuk-!-font-weight-bold no-margin-bottom" th:text="${i18n.venueNameRolls}"/>
    <p id="address-line-1" class="govuk-body no-margin-bottom" th:text="${i18n.addressLineRolls1}"/>
    <p id="address-line-2" class="govuk-body" th:text="${i18n.addressLineRolls2}"/>
  </div>
  <p id="list-date" class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1" th:text="${i18n.listDate + contentDate}"/>
  <p id="last-updated-date" class="govuk-body" th:text="${i18n.lastUpdated + lastUpdatedDate + i18n.at + lastUpdatedTime}"/>

  <details class="govuk-details" data-module="govuk-details" open="">
    <summary class="govuk-details__summary">
      <p th:text="${i18n.importantInformationHeading}" class="govuk-details__summary-text"/>
    </summary>
    <div class="govuk-details__text">
      <p id="important-information-line-1" class="govuk-body govuk-!-padding-bottom-3" th:text="${i18n.importantInformationP1}"/>
      <p id="important-information-heading-1" class="govuk-body govuk-!-font-weight-bold" th:text="${i18n.remoteHearingsHeading}"/>
      <p id="important-information-line-2" class="govuk-body govuk-!-padding-bottom-3" th:text="${i18n.remoteHearingsText}"/>

      <p id="important-information-heading-2" class="govuk-body govuk-!-font-weight-bold" th:text="${i18n.contactDetailsHeading}"/>
      <p id="important-information-line-3" class="govuk-body govuk-!-font-weight-bold no-margin-bottom" th:text="${i18n.contactDetails1a}"></p>
      <p id="important-information-line-3-email" class="govuk-body" th:text="${i18n.contactDetails1b}"></p>
      <p id="important-information-line-4" class="govuk-body govuk-!-font-weight-bold no-margin-bottom" th:text="${i18n.contactDetails2a}"></p>
      <p id="important-information-line-5-email" class="govuk-body" th:text="${i18n.contactDetails2b}"></p>
      <p id="important-information-line-5" class="govuk-body govuk-!-font-weight-bold no-margin-bottom" th:text="${i18n.contactDetails3a}"></p>
      <p id="important-information-line-5-email" class="govuk-body" th:text="${i18n.contactDetails3b}"></p>
      <p id="important-information-line-6" class="govuk-body govuk-!-font-weight-bold no-margin-bottom" th:text="${i18n.contactDetails4a}"></p>
      <p id="important-information-line-6-email" class="govuk-body" th:text="${i18n.contactDetails4b}"></p>
      <p id="important-information-line-7" class="govuk-body govuk-!-font-weight-bold no-margin-bottom" th:text="${i18n.contactDetails5a}"></p>
      <p id="important-information-line-7-email" class="govuk-body govuk-!-padding-bottom-3" th:text="${i18n.contactDetails5b}"></p>

      <p id="important-information-line-8" class="govuk-body govuk-!-padding-bottom-3" th:text="${i18n.importantInformationP2}"/>
      <p id="important-information-heading-3" class="govuk-body govuk-!-font-weight-bold" th:text="${i18n.remoteJudgmentsHeading}"/>
      <p id="important-information-line-9" class="govuk-body govuk-!-padding-bottom-3" th:text="${i18n.remoteJudgmentsText}"/>
    </div>
  </details>

  <div aria-label="Hearing list" class="landscape">
    <div th:each="listType : ${i18n.listTypes}" style="margin-bottom: 60px;">
      <h2 id="${listType.key}" class="govuk-heading-l" th:text="${listType.label}"></h2>

      <div th:if="${#lists.isEmpty(#vars.getVariable(listType.key))}"><p th:text="${i18n.noHearingsScheduledForThisDay}"/></div>
        <table class="govuk-table" th:unless="${#lists.isEmpty(#vars.getVariable(listType.key))}">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th:block th:each="header : ${i18n.commonKbChdDailyCauseListTableHeaders}">
                <th th:text="${header}" scope="col" class="govuk-table__header"></th>
              </th:block>
            </tr>
          </thead>

          <tbody class="govuk-table__body">
            <tr class="govuk-table__row" th:each="hearing : ${#vars.getVariable(listType.key)}">
              <td class="govuk-table__cell" th:text="${hearing.get('judge')}"></td>
              <td class="govuk-table__cell" th:text="${hearing.get('time')}"></td>
              <td class="govuk-table__cell" th:text="${hearing.get('venue')}"></td>
              <td class="govuk-table__cell" th:text="${hearing.get('type')}"></td>
              <td class="govuk-table__cell" th:text="${hearing.get('caseNumber')}"></td>
              <td class="govuk-table__cell" th:text="${hearing.get('caseName')}"></td>
              <td class="govuk-table__cell" th:text="${hearing.get('additionalInformation')}"></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>


  <section>
    <p class="govuk-body" th:text="${i18n.dataSource + provenance}" />
    <hr/>
    <p class="govuk-body" th:text="${i18n.bottomLegal1}" />
    <p class="govuk-body"th:text="${i18n.bottomLegal2}" />
    <hr/>
    <p class="govuk-body" th:text="${i18n.thanks}" />
  </section>
</div>
</body>
</html>
