<!DOCTYPE html>
<html lang="en">
<head>
  <style th:replace="common-styles/page-govuk-styles :: page-govuk-classes"></style>
  <style th:replace="common-styles/non-strategic/body-styles :: body-classes"></style>
  <style th:inline="text">
    .govuk-\!-margin-bottom-1 {
      margin-bottom: 5px;
    }

    .no-margin-bottom {
      margin-bottom: 0 !important;
    }
  </style>
  <meta charset="UTF-8"/>
  <meta name="subject" content="Accessible PDF template"/>
  <meta name="author" content="HMCTS Court and Tribunal Hearings"/>
  <meta name="description" content="Document description - vital for compliance."/>
  <title th:text="${i18n.listName}" />
</head>
<body>
<div>
  <h2 id="page-heading" class="govuk-heading-l" th:text="${i18n.listName}"/>
  <div>
    <p id="venue-name" class="govuk-body govuk-!-font-weight-bold no-margin-bottom" th:text="${i18n.venueName}"/>
    <p id="address-line-1" class="govuk-body no-margin-bottom" th:text="${i18n.addressLine1}"/>
    <p id="address-line-2" class="govuk-body no-margin-bottom" th:text="${i18n.addressLine2}"/>
    <p id="address-line-3" class="govuk-body" th:text="${i18n.addressLine3}"/>
  </div>
  <p id="list-date" class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1" th:text="${i18n.listDate + contentDate}"/>
  <p id="last-updated-date" class="govuk-body" th:text="${i18n.lastUpdated + lastUpdatedDate + i18n.at + lastUpdatedTime}"/>

  <details class="govuk-details" data-module="govuk-details" open="">
    <summary class="govuk-details__summary">
      <p th:text="${i18n.importantInformationHeading}" class="govuk-details__summary-text"/>
    </summary>
    <div class="govuk-details__text">
      <p class="govuk-body" th:text="${i18n.importantInformationLine1}"/>
      <p class="govuk-body" th:text="${i18n.importantInformationLine2}"/>
    </div>
  </details>

  <div aria-label="Hearing list" class="landscape">
    <table class="govuk-table">
      <thead class="govuk-table__header">
      <tr>
        <th:block th:each="header: ${i18n.tableHeaders}">
          <th th:text="${header}" scope="col" class="govuk-table__header"/>
        </th:block>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <tr th:each="hearing : ${data}">
        <td class="govuk-table__cell" th:text="${hearing.get('venue')}"/>
        <td class="govuk-table__cell" th:text="${hearing.get('judge')}"/>
        <td class="govuk-table__cell" th:text="${hearing.get('time')}"/>
        <td class="govuk-table__cell" th:text="${hearing.get('caseNumber')}"/>
        <td class="govuk-table__cell" th:text="${hearing.get('caseDetails')}"/>
        <td class="govuk-table__cell" th:text="${hearing.get('hearingType')}" />
        <td class="govuk-table__cell" th:text="${hearing.get('additionalInformation')}" />
      </tr>
      </tbody>
    </table>
  </div>

  <section>
    <p class="govuk-body" th:text="${i18n.dataSource + provenance}" />
    <hr/>
    <p class="govuk-body" th:text="${i18n.bottomLegal1}" />
    <p class="govuk-body"th:text="${i18n.bottomLegal2}" />
    <hr/>
    <p class="govuk-body" th:text="${i18n.thanks}" />
  </section>
</div>
</body>
</html>
