<!DOCTYPE html>
<html lang="en">
<head>
  <style th:replace="css/template-styles :: page-govuk-classes"></style>
  <style th:replace="css/template-styles :: body-classes"></style>
  <style th:inline="text">
    .govuk-details__summary {
      color: #0b0c0c;
    }
  </style>
  <meta charset="UTF-8"/>
  <meta name="subject" content="Accessible PDF template"/>
  <meta name="author" content="HMCTS Court and Tribunal Hearings"/>
  <meta name="description" content="Document description - vital for compliance."/>
  <title th:text="${i18n.listName}" />
</head>
<body>
<div>
  <h2 id="page-heading" class="govuk-heading-l" th:text="${i18n.listName}"/>
  <p id="list-date" class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1" th:text="${i18n.listDate + contentDate}"/>
  <p id="last-updated-date" class="govuk-body" th:text="${i18n.lastUpdated + lastUpdatedDate + i18n.at + lastUpdatedTime}"/>

  <details class="govuk-details" data-module="govuk-details" open="">
    <summary class="govuk-details__summary">
      <p th:text="${i18n.importantInformationHeading}" class="govuk-details__summary-text"/>
    </summary>
    <div class="govuk-details__text">
      <p id="list-update-message" class="govuk-body" th:text="${i18n.listUpdateMessage}"/>
      <a id="observe-hearing" th:href="${i18n.observeHearingLink}" class="govuk-link" th:title="${i18n.observeHearingLinkText}" th:text="${i18n.observeHearingLinkText}" />
    </div>
  </details>

  <div aria-label="Hearing list" class="landscape">
    <table class="govuk-table">
      <thead class="govuk-table__header">
      <tr>
        <th:block th:each="header: ${i18n.tableHeaders}">
          <th th:text="${header}" scope="col" class="govuk-table__header"/>
        </th:block>
      </tr>
      </thead>
      <tbody class="govuk-table__body">
      <tr th:each="hearing : ${data}">
        <td class="govuk-table__cell" th:text="${hearing.get('hearingTime')}"/>
        <td class="govuk-table__cell" th:text="${hearing.get('caseTitle')}"/>
        <td class="govuk-table__cell" th:text="${hearing.get('representative')}"/>
        <td class="govuk-table__cell" th:text="${hearing.get('caseReferenceNumber')}"/>
        <td class="govuk-table__cell" th:text="${hearing.get('judges')}"/>
        <td class="govuk-table__cell" th:text="${hearing.get('hearingType')}" />
        <td class="govuk-table__cell" th:text="${hearing.get('location')}" />
        <td class="govuk-table__cell" th:text="${hearing.get('additionalInformation')}" />
      </tr>
      </tbody>
    </table>
  </div>

  <section>
    <p class="govuk-body" th:text="${i18n.dataSource + provenance}" />
    <hr/>
    <p class="govuk-body" th:text="${i18n.bottomLegal1}" />
    <p class="govuk-body"th:text="${i18n.bottomLegal2}" />
    <hr/>
    <p class="govuk-body" th:text="${i18n.thanks}" />
  </section>
</div>
</body>
</html>
