spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:testdb
    username: my-db
    password: my-db
    embedded-directory: build
    jpa:
      spring.jpa.database-platform: org.hibernate.dialect.H2Dialect
  flyway:
    enabled: true
payload:
  json:
    max-size-search: 50
    max-size-excel: 100
    max-size-pdf: 60
    search-values:
      array-value: "$['root-value']['inner-value'][*]['array-value']"
      case-urn: "$['unknown-attribute']"
dbMigration:
  runOnStartup: true

