<!DOCTYPE html>
<html lang="en">
<head>
  <style th:replace="common-styles/page-govuk-styles :: page-govuk-classes"></style>
  <style th:replace="common-styles/accordion-styles :: accordion-classes"></style>
  <style th:inline="text">
    body {
      font-size: 105%;
    }

    h1, h4 {
      font-family: "openSans";
      color: black;
    }

    .site-header {
      position: relative;
      top: 2em;
    }

    td, th {
      width: 140px;
      padding: 10px;
      word-wrap: break-word;
    }

    .govuk-table {
      table-layout: fixed;
      width: 1050px;
    }

    .no-wrap {
      white-space: nowrap;
    }

    .no-border-bottom {
      border-bottom: 0;
    }
  </style>
  <meta charset="UTF-8"/>
  <meta name="subject" content="Accessible PDF template"/>
  <meta name="author" content="HMCTS Court and Tribunal Hearings"/>
  <meta name="description" content="Document description - vital for compliance."/>
  <title th:text="${i18n.listName}"/>
</head>
<body>
<div class="header">
  <h2 id="page-heading" class="govuk-heading-l"
      th:text="${i18n.inThe + i18n.courtOfProtection + artefact.get('regionName').asText()}"/>
  <h2 class="govuk-heading-l" th:text="${i18n.regionalLeadJudge + artefact.get('regionalJoh').asText()}"/>
  <h2 class="govuk-heading-l" th:text="${i18n.sittingAt + locationName}"/>
  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1" th:text="${i18n.listFor + contentDate}"/>
  <p class="govuk-body" th:text="${i18n.lastUpdated + publicationDate + i18n.at + publicationTime}"/>
  <details class="govuk-details" data-module="govuk-details" open="">
    <summary class="govuk-details__summary">
      <p th:text="${i18n.importantInfo}" class="govuk-details__summary-text"/>
    </summary>
    <div class="govuk-details__text">
      <p th:text="${i18n.importantInformationP1}"/>
      <p th:text="${i18n.importantInformationP2a + locationName + i18n.importantInformationP2b
        + artefact.get('venue').get('venueContact').get('venueEmail').asText() + i18n.importantInformationP2c
        + artefact.get('venue').get('venueContact').get('venueTelephone').asText() + i18n.importantInformationP2d}"/>
      <p th:text="${i18n.importantInformationP3}"/>
      <p th:text="${i18n.importantInformationP4}"/>
      <span class="govuk-body" th:text="${i18n.importantInformationP5}" /> <a th:href="${i18n.openJusticeGuidance}" class="govuk-link" th:title="${i18n.linkTitle}" th:text="${i18n.openJusticeGuidance}" />
    </div>
  </details>

  <div aria-label="Court Lists" class="landscape">
    <div class="site-header" tabindex="0" aria-label="Court Details"
         th:each="courtList : ${artefact.get('courtLists')}">
      <h1 class="govuk-heading-l site-address" tabindex="0"
          th:text="${courtList.get('courtHouse').get('courtHouseName').asText()}"/>
      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default"
           th:each="courtRoom : ${courtList.get('courtHouse').get('courtRoom')}">
        <div th:each="session : ${courtRoom.get('session')}">
          <div class="govuk-accordion__section-header">
            <h2 class="govuk-accordion__section-heading"
                th:text="${#strings.isEmpty(session.get('formattedSessionJoh').asText())} ? ${courtRoom.get('courtRoomName').asText()} : ${courtRoom.get('courtRoomName').asText() + ', ' + i18n.beforeHon + session.get('formattedSessionJoh').asText()}"/>
          </div>
          <div class="govuk-accordion__section-content">
            <div class="parent-box overflow-table">
              <table class="govuk-table">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th:block th:each="header: ${i18n.headerValuesWrap}">
                    <th scope="col" class="govuk-table__header no-wrap" th:text="${header}"/>
                  </th:block>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <th:block th:each="sitting : ${session.get('sittings')}">
                    <th:block th:each="hearing : ${sitting.get('hearing')}">
                      <th:block th:each="case : ${hearing.get('case')}">
                        <th:block th:with="noBorder=${case.get('formattedReportingRestriction').asText() != ''} ? 'no-border-bottom' : '' ">
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell" th:classappend="${noBorder}" th:text="${sitting.get('time').asText()}"/>
                            <td class="govuk-table__cell" th:classappend="${noBorder}" th:text="${case.get('caseNumber').asText()}"/>
                            <td class="govuk-table__cell" th:classappend="${noBorder}" th:text="${case.get('caseSuppressionName').asText()}"/>
                            <td class="govuk-table__cell" th:classappend="${noBorder}" th:text="${hearing.get('hearingType').asText()}"/>
                            <th:block th:if="${case.get('caseIndicator') != null}">
                              <td class="govuk-table__cell" th:classappend="${noBorder}"
                                  th:text="${sitting.get('formattedDuration').asText() + ' [' + case.get('caseIndicator').asText() + ']'}"/>
                            </th:block>
                            <th:block th:if="${case.get('caseIndicator') == null}">
                              <td class="govuk-table__cell" th:classappend="${noBorder}"
                                  th:text="${sitting.get('formattedDuration').asText()}"/>
                            </th:block>
                            <td class="govuk-table__cell" th:classappend="${noBorder}" th:text="${sitting.get('caseHearingChannel').asText()}"/>
                          </tr>
                          <tr class="govuk-table__row" th:if="${case.get('formattedReportingRestriction').asText() != ''}">
                            <td class="govuk-table__cell" colspan="6">
                              <span class="govuk-table__header" th:text="${i18n.reportingRestriction}" />
                              <span th:text="${case.get('formattedReportingRestriction').asText()}" />
                            </td>
                          </tr>
                        </th:block>
                      </th:block>
                    </th:block>
                  </th:block>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section>
    <p class="govuk-body govuk-font-14" th:text="${i18n.dataSource + provenance}"/>
    <hr/>
    <p th:text="${i18n.bottomLegal1}" style="font-family: 'openSans'; font-size: 24px;"/>
    <p th:text="${i18n.bottomLegal2}" style="font-family: 'openSans'; font-size: 24px;"/>
    <hr/>
    <p th:text="${i18n.thanks}" style="text-align: center;"/>
  </section>

</div>
</body>
</html>
