<!DOCTYPE html>
<html lang="en">
<head>
  <style th:replace="css/template-styles :: page-govuk-classes"></style>
  <style th:inline="text">

    h1, h4 {
      font-family: "openSans";
      color: black;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    .govuk-table {
      table-layout: fixed;
      width: 1050px;
    }

    .no-wrap {
      white-space: nowrap;
    }

    .show-white-space {
      white-space: pre-wrap;
    }
  </style>
  <meta charset="UTF-8"/>
  <meta name="subject" content="Accessible PDF template"/>
  <meta name="author" content="HMCTS Court and Tribunal Hearings"/>
  <meta name="description" content="Document description - vital for compliance."/>
  <title th:text="${i18n.listName}" />
</head>
<body>
<div class="header">
  <h2 id="page-heading" class="govuk-heading-l" th:text="${i18n.listName}"/>

  <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-1" th:text="${i18n.listFor + contentDate}"/>
  <p class="govuk-body" th:text="${i18n.lastUpdated + publicationDate + i18n.at + publicationTime}"/>

  <details class="govuk-details" data-module="govuk-details" open="">
    <summary class="govuk-details__summary govuk-!-font-weight-bold">
      <p th:text="${i18n.importantInformationHeading}" class="govuk-details__summary-text"/>
    </summary>
    <div class="govuk-details__text">
      <p th:text="${i18n.importantInformation1}"/>
      <p th:text="${i18n.importantInformation2 + email + i18n.importantInformation3}"/>
      <p th:text="${i18n.importantInformation4}"/>
    </div>
  </details>
  <div aria-label="Court Lists" class="landscape">
    <table class="govuk-table">
      <thead class="govuk-table__header">
        <tr>
          <th:block th:each="heading: ${i18n.tableHeadings}">
            <th th:text="${heading}"/>
          </th:block>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr th:each="case : ${cases}">
          <td class="govuk-table__cell no-wrap" th:text="${case.hearingDate}"/>
          <td class="govuk-table__cell" th:text="${case.caseName}"/>
          <td class="govuk-table__cell" th:text="${case.duration}"/>
          <td class="govuk-table__cell" th:text="${case.hearingType}"/>
          <td class="govuk-table__cell show-white-space" th:text="${case.venue}" />
        </tr>
      </tbody>
    </table>
  </div>
  <section>
    <p th:text="${i18n.dataSource + provenance}"/>
    <hr/>
    <p th:text="${i18n.legal1}" style="font-family: 'openSans'; font-size: 18px;"/>
    <p th:text="${i18n.legal2}" style="font-family: 'openSans'; font-size: 18px;"/>
    <hr/>
    <p th:text="${i18n.endText}" style="text-align: center;"/>
  </section>
</div>
</body>
</html>
