<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <style th:fragment="accordion-classes" th:inline="text">
    .govuk-accordion__section-heading {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 15px;
      padding-bottom: 15px;
      font-family: "openSans";
      font-weight: 700;
      font-size: 18px;
      line-height: 1.11111;
      color: #0b0c0c;
      display: block;
    }

    .govuk-accordion {
      page-break-after: always;
    }
  </style>
</head>
<body>
</body>
</html>
